.default-template {
  display: flex;
}

.section {
  margin: 1rem 0;
}

.section__title {
  font-size: 1.375rem;
}

.section__content {
  font-size: 1rem;
  color: #262b33;
}

.left,
.right {
  padding: 4rem 2rem;
}

.left {
  background: #10365c;
}

.full-name {
  color: #fff;
}

.wanted-job-title {
  color: #c4cdd7;
}
