<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ fullName  }}</title>
  <style>
    {{  cssContent | safe }}

    html, body {
      height: 100%;
    }

    @page {
      size: A4;
    }
  </style>
</head>
<body class="font-sans text-black p-0 m-0 h-full">
<div class="flex w-full h-full">
    <aside class="px-6 py-8 text-white bg-[#10365c] h-screen w-60">
      <section class="flex flex-col items-center">
        {% if personalDetails.photo and personalDetails.photo.croppedImage %}
        <img alt="{{ fullName }}"
             src="{{ personalDetails.photo.croppedImage }}"
             class="block mb-2 w-14 h-14 object-cover rounded-full"
        />
        {% endif %}
        <h1 class="text-2xl text-white font-bold m-0">{{ fullName }}</h1>
        <div class="w-5 bg-gray-300 my-2 h-px"></div>
        <span class="text-sm uppercase">{{ personalDetails.jobTitle }}</span>
      </section>
      <section class="mt-4">
        <h1 class="text-lg">{{ personalDetails.title }}</h1>
        <div class="text-sm">
          {% if personalDetails.city and personalDetails.country %}
          <p>
            {{ personalDetails.city }},
            {{ personalDetails.country }}
          </p>
          {% endif %}
          <p>
            <a href="{{ 'tel:' + personalDetails.phone }}" class="text-white no-underline">
              {{ personalDetails.phone }}
            </a>
          </p>
          <p>
            <a href="{{ 'mailto:' + personalDetails.email }}" class="underline text-white">
              {{ personalDetails.email }}
            </a>
          </p>

          <h2 class="mt-6 mb-0.5 uppercase font-bold text-xs text-gray-400">
            Nationality
          </h2>
          <p>{{ personalDetails.nationality or "-" }}</p>

          <h2 class="mt-6 mb-0.5 uppercase font-bold text-xs text-gray-400">
            Date / Place of birth
          </h2>
          <p>{{ personalDetails.birthDate or "-" }}</p>
          <p>{{ personalDetails.birthPlace or "-" }}</p>
        </div>
      </section>
    </aside>
    <div id="content" class="bg-white px-6 py-8 flex-1">
      <section>
        <h1 class="font-bold text-xl mb-1">{{ summary.title }}</h1>
        <div class="text-sm">{{ summary.content | safe }}</div>
      </section>
      {% for section in sections %}
      <section class="my-6">
        <h1 class="font-bold text-xl mb-1">{{ section.title }}</h1>
        {% for item in section.items %}

          {% if item.rendererComponent == 'employment-item-renderer' %}
            <div>
              <h1 class="font-bold text-base">
                {{ item.jobTitle }}, {{ item.employer }}, {{ item.city }}
              </h1>
              <p class="my-2 text-xs uppercase font-bold text-gray-400">
                {{ item.interval.start }} - {{ item.interval.end }}
              </p>
              <div class="mt-2 text-sm">{{ item.description | safe }}</div>
            </div>
          {% endif %}

          {% if item.rendererComponent == 'education-item-renderer' %}
            <div>
              <h1 class="font-bold text-base">
                {{ item.degree }}, {{ item.school }}, {{ item.city }}
              </h1>
              <p class="my-2 text-xs uppercase font-bold text-gray-400">
                {{ item.interval.start }} - {{ item.interval.end }}
              </p>
              <div class="text-sm">{{ item.description | safe }}</div>
            </div>
          {% endif %}

          {% if item.rendererComponent == 'website-item-renderer' %}
            <div>
              <a href="{{ item.link }}" class="underline" target="_blank">{{ item.label }}</a>
            </div>
          {% endif %}

          {% if item.rendererComponent == 'language-item-renderer' %}
            <div class="my-4">
              <h3 class="font-bold mb-1 text-base">{{ item.language }}</h3>
              <div class="w-96 bg-gray-300 h-1 relative">
                <div class="absolute left-0 top-0 h-1 bg-indigo-900"
                     style="{{ 'width: ' + 100 / [0, 1, 2, 3, 4][item.level] + '%' }}"
                ></div>
              </div>
            </div>
          {% endif %}

          {% if item.rendererComponent === 'skill-item-renderer' %}
            <div class="rounded bg-gray-200 inline-block py-1.5 px-2 m-1">
              {{ item.skill }}
            </div>
          {% endif %}
        {% endfor %}
      </section>
      {% endfor %}
    </div>
  </div>
</body>
</html>